.home {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
h1.Twitter {
  font-size: 24px;
  color: #1DA1F2;
}

/* Estilos para el menú de navegación */
.nav-menu {
  background-color: #1DA1F2;
  padding: 10px;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: inline;
  margin-right: 10px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para el modo Administrador si admin es verdadero */
h1.administrador {
  color: #FF6347; /* Rojo oscuro */
}

/* Estilos para los contenedores de elementos */
.container {
  background-color: #f5f5f5; /* Gris claro */
  margin: 10px 0;
  padding: 10px;
}

/* Estilos para los títulos de elementos */
.container h2 {
  font-size: 18px;
  color: #333; /* Texto negro */
  margin: 0;
}

/* Estilos para los botones de borrado */
.delete-button {
  background-color: #FF6347; /* Rojo oscuro */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilos para los botones de comentario */
.boton-comentar {
  margin-top: 10px;
}

/* Estilos para los enlaces */
a {
  color: #1DA1F2; /* Azul de Twitter */
  text-decoration: none;
}

/* Estilos para los enlaces al pasar el ratón por encima */
a:hover {
  text-decoration: underline;
}
